@font-face {
  font-family: 'SourceSemiBold';
  src: url('/css/fonts/sans/SourceSansPro-Semibold.ttf') format('truetype');
}

@font-face {
  font-family: 'SourceRegular';
  src: url('/css/fonts/sans/SourceSansPro-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'SourceLight';
  src: url('/css/fonts/sans/SourceSansPro-Light.ttf') format('truetype');
}
