@import "css/variables";

html {
  //font-family: Roboto;
  background-color: $primary-0;
  color: $primary-2;
}

.container .row {
  margin: 0;
}

.container {
  width: 80% !important;
}

nav {
  color: $primary-2;
  background-color: $primary-5 !important;

  .search-contract {
    width: 350px !important;
    font-size: 14px !important;
    text-align: right !important;
  }
}

#errors {
  background-color: #ffd6c8;
  color: darkred;
}

#transactions-list, #transaction-info {
  background-color: $primary-1;
  border: $primary-4 1px solid;
  font-size: 12px;

  p {
    margin: 2px;
  }
}

#overlay {
  position: fixed;
  min-height: 100%;
  width: 100%;
  height: auto;
  left: 0;
  top: 0;
  background: black;
  opacity: .5;
  margin:0 auto;

  .content {
    width: 50%;
    margin-top: 20%;
    margin-left: 25%;
  }

  &.hidden {
    width: 0 !important;
    height: 0 !important;
    display: none;
  }
}
