@import "css/variables";
@import "css/fonts";

html {
  background-color: $primary-0;
  color: $primary-2;
}

.container .row {
  margin: 0;
}

.container {
  width: 60% !important;
}

.main-container {
  padding-top: 50px;
}

nav {
  color: $primary-2;
  background-color: $primary-5 !important;

  .search-contract {
    width: 350px !important;
    font-size: 14px !important;
    text-align: right !important;
  }
}

#errors {
  background-color: #ffd6c8;
  color: darkred;
}

#overlay {
  position: fixed;
  min-height: 100%;
  width: 100%;
  height: auto;
  left: 0;
  top: 0;
  background: black;
  opacity: .5;
  margin:0 auto;

  .content {
    width: 50%;
    margin-top: 20%;
    margin-left: 25%;
    color: $primary-5;
    text-align: center;
  }

  &.hidden {
    width: 0 !important;
    height: 0 !important;
    display: none;
  }
}

.buy-button {
  margin: 0 40px 0 -10px;
}

.title {
  font-weight: 300;
  letter-spacing: 0px;
  text-transform: uppercase;
}

.subtitle {
  font-weight: 300;
  letter-spacing: 0;
  text-transform: uppercase;
}

.transactions-list {
  margin-top: 40px;
}

.buy-sell-question {
  margin-top: 150px !important;
}

.congrats-card {

  .card-title {
    color: $primary-5;
    font-size: 14px;
    font-weight: 300;
    letter-spacing: 0;
    text-transform: uppercase;
  }

  .card-content {
    color: $primary-6;
  }

  .card-action {
    text-align: right;
  }
}

.input-field {
  p {
    padding-top: 15px !important;
  }
}