@font-face {
  font-family: 'SourceBold';
  src: url('./fonts/sans/SourceSansPro-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'SourceSemiBold';
  src: url('./fonts/sans/SourceSansPro-Semibold.ttf') format('truetype');
}

@font-face {
  font-family: 'SourceRegular';
  src: url('./fonts/sans/SourceSansPro-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'SourceLight';
  src: url('./fonts/sans/SourceSansPro-Light.ttf') format('truetype');
}

@font-face {
  font-family: 'SourceExtraLight';
  src: url('./fonts/sans/SourceSansPro-ExtraLight.ttf') format('truetype');
}
