@import "css/variables";

@font-face {
  font-family: 'SourceBold';
  src: url('./fonts/sans/SourceSansPro-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'SourceSemiBold';
  src: url('./fonts/sans/SourceSansPro-Semibold.ttf') format('truetype');
}

@font-face {
  font-family: 'SourceRegular';
  src: url('./fonts/sans/SourceSansPro-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'SourceLight';
  src: url('./fonts/sans/SourceSansPro-Light.ttf') format('truetype');
}

@font-face {
  font-family: 'SourceExtraLight';
  src: url('./fonts/sans/SourceSansPro-ExtraLight.ttf') format('truetype');
}

html {
  background-color: $primary-0;
  font-family: 'SourceRegular', Roboto, serif !important;
}

.container .row {
  margin: 0;
}

.container {
  width: 60% !important;
}

.main-container {
  padding-top: 30px;
}

.open-chip {
  color: white !important;
  background-color: $green !important;
}

.closed-chip {
  color: white !important;
  background-color: $red !important;
}

.material-tooltip {
  margin-top: -10px;

  span {
    color: $primary-3;
  }

  .backdrop {
    background-color: $primary-0 !important;
  }
}

nav {
  color: $primary-1;
  background-color: $primary-2 !important;

  .search-contract {
    width: 350px !important;
    font-size: 14px !important;
    text-align: right !important;
  }

  .brand-logo {
    font-family: SourceLight;
    text-transform: uppercase;
  }
}

.btn {
  background-color: $primary-3 !important;
}

.super-title {
  font-family: SourceRegular;
  letter-spacing: 0;
  text-transform: uppercase;
  color: $primary-5;
}

.title {
  font-family: SourceExtraLight;
  letter-spacing: 0;
  text-transform: uppercase;
  color: $primary-2;
}

.card {
  .card-action {
    text-align: right;
  }
}

label {
  font-size: 0.85rem !important;

  &.active {
    font-size: 12px !important;
  }
}

p.labeled {
  padding: 4px 0 6px !important;
}

.close-error {
  float: right;
  margin-top: -10px;
  color: lightgray;
  font-family: sans-serif;
  text-shadow: 2px 2px grey;
  cursor: pointer;
}

//########## MODAL #############

#overlay {
  position: fixed;
  min-height: 100%;
  width: 100%;
  height: auto;
  left: 0;
  top: 0;
  background: black;
  opacity: .7;
  margin:0 auto;

  .content {
    width: 50%;
    font-size: 30px;
    margin-top: 70px;
    margin-left: 25%;
    color: $primary-2;
    text-align: center;
    opacity: 1 !important;
  }

  &.hidden {
    width: 0 !important;
    height: 0 !important;
    display: none;
  }

  &.dark {
    opacity: .9 !important;
  }
}

//########## CUSTOM #############

.buy-sell-question {
  margin-top: 150px !important;
}

.buy-button {
  margin: 0 40px 0 -10px;
}

.erc20-list {
  margin-top: 20px !important;

  .option {
    cursor: pointer;
    text-align: center;
    margin: 0 10px !important;
    position: static !important;
    z-index: 9999 !important;
    color: white !important;
    background-color: #FF5252 !important;
  }
}

.account-details {
  .card {
    color: #f3f3fd !important;
    font-size: 13px !important;
    background-color: $primary-5;

    .card-content {
      padding: 10px 24px !important;

      .title {
        font-size: 20px;
        letter-spacing: 0;
        color: $primary-2;
        margin: 2px !important;
        text-transform: uppercase;
        font-family: SourceExtraLight;
      }
    }
  }
}
