<!doctype html>
<html>
  <header>
    <title>Token Marketplace</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </header>
  <body>
    <div id="app"></div>
  </body>
</html>
